<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Best Sellers</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="Bambo.html">
						<img src="images/shop/category/category-1.png" alt="" />
						<div class="content">
							<h3>BAMBO</h3>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="WAVE FLIP.html">
						<img src="images/shop/category/category-2.jpg" alt="" />
						<div class="content">
							<h3>WAVE FLIP</h3>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="De' Bean 2.html">
						<img src="images/shop/category/category-3.jpg" alt="" />
						<div class="content">
							<h3>De' Bean II</h3>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>