<!-- Start Top Header Bar -->
<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>095-562-8256</span>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="index.html">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family= 'Urbanist' font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="MAGO">
										<tspan x="108.94" y="325">MAGO</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Profile -->
				<ul class="top-menu text-right list-inline">		
					<!-- Cart -->
					<li class="dropdown cart-nav dropdown-slide">
						<a href="cart.html">
							<i class="tf-ion-android-cart"></i> Cart</a>
					</li>
					<!-- / Cart -->

					<!-- Search -->
					<li class="dropdown search dropdown-slide2">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-cart search-dropdown" >
								<li>
									
									<input type='text' class="form-control" placeholder="Search here..."
									id="search-input">	
								</li>
								
								<div class = "product-list2" id="product-list2">
									
										<div class="list-group-item">
											<a href="Bambo.html" >
											<img src="images/shop/single-products/BAMBO/blink.png" width = "100" alt="">
											<a href="Bambo.html" >
											<div class = "p-details">
												<h2>BAMBO</h2>
												<h3><del>THB990</del> <b>THB850</b></p></h3>
											</div>
										</div>
									
										<div class="list-group-item">
											<a href="Bambo.html" >
											<img src="images\shop\single-products\BROOK\กรม.png" width = "100" alt="">
											<a href="Brook.html" >
											<div class = "p-details">
												<h2>BROOK</h2>
												<h3><del>THB1,990</del> <b>THB1,490</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="Cantier Grace.html" >
											<img src="images/shop/products/3.png" width = "100" alt="">
											<a href="Cantier Grace.html" >
											<div class = "p-details">
												<h2>CANTIER GRACE</h2>
												<h3><del>THB1,990</del> <b>THB1,490</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="Celyn.html" >
											<img src="images/shop/products/4.png" width = "100" alt="">
											<a href="Celyn.html" >
											<div class = "p-details">
												<h2>CELYN</h2>
												<h3><del>THB3,190</del> <b>THB2,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="Curve.html" >
											<img src="images/shop/products/5.jpg" width = "100" alt="">
											<a href="Curve.html" >
											<div class = "p-details">
												<h2>CURVE</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="DAWN.html" >
											<img src="images/shop/products/6.png" width = "100" alt="">
											<a href="DAWN.html" >
											<div class = "p-details">
												<h2>DAWN</h2>
												<h3><del>THB2,290</del> <b>THB1,890</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="De'Bean 1.html" >
											<img src="images/shop/products/7.png" width = "100" alt="">
											<a href="De'Bean 1.html" >
											<div class = "p-details">
												<h2>DE'BEAN</h2>
												<h3><del>THB2,290</del> <b>THB1,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="De'Bean 2.html" >
											<img src="images/shop/products/8.png" width = "100" alt="">
											<a href="De'Bean 2.html" >
											<div class = "p-details">
												<h2>DE'BEAN II</h2>
												<h3><del>THB1,990</del> <b>THB1,490</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="GLINT.html" >
											<img src="images/shop/products/9.png" width = "100" alt="">
											<a href="GLINT.html" >
											<div class = "p-details">
												<h2>GLINT</h2>
												<h3><del>THB2,490</del> <b>THB2,290</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="KATE 1.html" >
											<img src="images/shop/products/10.png" width = "100" alt="">
											<a href="KATE 1.html" >
											<div class = "p-details">
												<h2>KATE</h2>
												<h3><del>THB1,990</del> <b>THB1,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="KATE HALF.html" >
											<img src="images/shop/products/11.png" width = "100" alt="">
											<a href="KATE HALF.html" >
											<div class = "p-details">
												<h2>KATE HALF</h2>
												<h3><del>THB1,890</del> <b>THB1,690</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="KATE WALKSTAR.html" >
											<img src="images/shop/products/12.png" width = "100" alt="">
											<a href="KATE WALKSTAR.html" >
											<div class = "p-details">
												<h2>KATE WALKSTAR</h2>
												<h3><del>THB1,990</del> <b>THB1,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="LITA 1.html" >
											<img src="images/shop/products/13.jpg" width = "100" alt="">
											<a href="LITA 1.html" >
											<div class = "p-details">
												<h2>LITA</h2>
												<h3><del>THB1,990</del> <b>THB1,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="LITA WALKSTAR.html" >
											<img src="images/shop/products/14.jpg" width = "100" alt="">
											<a href="LITA WALKSTAR.html" >
											<div class = "p-details">
												<h2>LITA WALKSTAR</h2>
												<h3><del>THB2,190</del> <b>THB1,990</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="Malyn 1.html" >
											<img src="images/shop/products/15.png" width = "100" alt="">
											<a href="Malyn 1.html" >
											<div class = "p-details">
												<h2>MALYN</h2>
												<h3><del>THB3,190</del> <b>THB2,790</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="Malyn 2.html" >
											<img src="images/shop/products/16.png" width = "100" alt="">
											<a href="Malyn 2.html" >
											<div class = "p-details">
												<h2>MALYN II</h2>
												<h3><del>THB3,390</del> <b>THB2,990</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="MG-777.html" >
											<img src="images/shop/products/17.png" width = "100" alt="">
											<a href="MG-777.html" >
											<div class = "p-details">
												<h2>MG-777</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="MILA.html" >
											<img src="images/shop/products/18.png" width = "100" alt="">
											<a href="MILA.html" >
											<div class = "p-details">
												<h2>MILA</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="MONICA.html" >
											<img src="images/shop/products/19.png" width = "100" alt="">
											<a href="MONICA.html" >
											<div class = "p-details">
												<h2>MONICA</h2>
												<h3><b>THB850</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="RINA.html" >
											<img src="images/shop/products/20.png" width = "100" alt="">
											<a href="RINA.html" >
											<div class = "p-details">
												<h2>RINA</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="WABI.html" >
											<img src="images/shop/products/21.jpg" width = "100" alt="">
											<a href="WABI.html" >
											<div class = "p-details">
												<h2>WABI</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="WAVE FLIP.html" >
											<img src="images/shop/products/22.jpg" width = "100" alt="">
											<a href="WAVE FLIP.html" >
											<div class = "p-details">
												<h2>WAVE FLIP</h2>
												<h3><del>THB1,090</del> <b>THB900</b></p></h3>
											</div>
										</div>
								
										<div class="list-group-item">
											<a href="WYNN.html" >
											<img src="images/shop/products/23.png" width = "100" alt="">
											<a href="WYNN.html" >
											<div class = "p-details">
												<h2>WYNN</h2>
												<h3><del>THB2,200</del> <b>THB1,890</b></p></h3>
											</div>
										</div>
								</div>
								<script>

									document.querySelector('#search-input').addEventListener('input', filterList);
								
									function filterList(){
										const searchInputv= document.querySelector('#search-input');
										const filter = searchInputv.value.toLowerCase();
										const listItems = document.querySelectorAll('.list-group-item');
								
										listItems.forEach((item) =>{
											let text = item.textContent;
											if(text.toLowerCase().includes(filter.toLowerCase())){
												item.style.display = '';
											}
											else{
												item.style.display = 'none';
											}
										});
									}
								</script>
						</ul>
						
					</li><!-- / Search -->
					<li class="dropdown dropdown-slide">
						<a href="login.html">
							<i class="tf-ion-person"></i>Log in</a> 
					</li><!-- / Profile -->
					
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<li class="dropdown full-width dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Shop <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">

								<!-- Basic -->
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">⠀ ⠀ ⠀
										</li>
										<li role="separator" class="divider"></li>
										<li><a href="shop.html">All products</a></li>
										<li><a href="Bambo.html">BAMBO</a></li>
										<li><a href="Brook.html">BROOK</a></li>
										<li><a href="Cantier Grace.html">CANTIER GRACE</a></li>
										<li><a href="Celyn.html">CELYN</a></li>
										<li><a href="Curve.html">CURVE</a></li>
										<li><a href="DAWN.html">DAWN</a></li>
										<li><a href="De' Bean 1.html">De'Bean</a></li>
									</ul>
								</div>
								
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header" Align="center">Products</li>
										<li role="separator" class="divider"></li>
										<li><a href="De' Bean 2.html">De'Bean II</a></li>
										<li><a href="GLINT.html">Glint</a></li>
										<li><a href="KATE 1.html">Kate</a></li>
										<li><a href="KATE HALF.html">Kate Half</a></li>
										<li><a href="KATE WALKSTAR.html">Kate Walkstar</a></li>
										<li><a href="LITA 1.html">Lita</a></li>
										<li><a href="LITA WALKSTAR.html">Lita Walkstar</a></li>
										<li><a href="Malyn 1.html">Malyn</a></li>
									</ul>
								</div>

								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">⠀ ⠀ ⠀
										</li>
										<li role="separator" class="divider"></li>
										<li><a href="Malyn 2.html">Malyn II</a></li>
										<li><a href="MG-777.html">MG-777</a></li>
										<li><a href="MILA.html">Mila</a></li>
										<li><a href="MONICA.html">Monica</a></li>
										<li><a href="RINA.html">Rina</a></li>
										<li><a href="WABI.html">WABI</a></li>
										<li><a href="WAVE FLIP.html">WAVE FLIP</a></li>
										<li><a href="WYNN.html">WYNN</a></li>
									</ul>
								</div>

							</div>
						</div><!-- / .row -->
					</li><!-- / Pages -->

				<!-- / Contacts -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Contacts
						<span
							class="tf-ion-ios-arrow-down"></span></a>
					<div class="dropdown-menu">
							<!-- About -->
						<ul>
							<li><a href="contact.html">Shop Locations</a></li>
							<li><a href="https://linktr.ee/magofootwear">Online Shop</a></li>							
						</ul>
					</div><!-- / .dropdown-menu -->
				</li>
				<!-- / Contacts -->
					
				<!-- Pages -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Others <span
							class="tf-ion-ios-arrow-down"></span></a>
					<div class="dropdown-menu">
							<!-- About -->
						<ul>
							<li class="dropdown-header">For you</li>
							<li role="separator" class="divider"></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="dashboard.html">Order Status</a></li>
							<li><a href="reviews.html">Reviews</a></li>
						</ul>
					
					</div><!-- / .dropdown-menu -->
				</li>
				<!-- / Pages -->

				<!-- Blog -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Size <span
							class="tf-ion-ios-arrow-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="blog-single.html">How To Size</a></li>
					</ul>
				</li>
			<!-- / Blog -->
			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>