<div class="col-md-4">
    <div class="product-item">
        <div class="product-thumb">
            <img class="img-responsive" src="images/shop/products/19.png" alt="product-img" />
            <div class="preview-meta">
                <ul>
                    <li>
                        <span  data-toggle="modal" data-target="#product-modal-monica">
                            <i class="tf-ion-ios-search-strong"></i>
                        </span>
                    </li>
                    <li>
                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-content">
            <h4><a href="MONICA.html">MONICA</a></h4>
            <p class="price"><b>THB850</b></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="product-item">
        <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="images/shop/products/20.png" alt="product-img" />
            <div class="preview-meta">
                <ul>
                    <li>
                        <span  data-toggle="modal" data-target="#product-modal-rina">
                            <i class="tf-ion-ios-search-strong"></i>
                        </span>
                    </li>
                    <li>
                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
              </div>
        </div>
        <div class="product-content">
            <h4><a href="RINA.html">RINA</a></h4>
            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="product-item">
        <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="images/shop/products/21.jpg" alt="product-img" />
            <div class="preview-meta">
                <ul>
                    <li>
                        <span  data-toggle="modal" data-target="#product-modal-wabi">
                            <i class="tf-ion-ios-search-strong"></i>
                        </span>
                    </li>
                    <li>
                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
              </div>
        </div>
        <div class="product-content">
            <h4><a href="WABI.html">WABI</a></h4>
            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="product-item">
        <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="images/shop/products/22.jpg" alt="product-img" />
            <div class="preview-meta">
                <ul>
                    <li>
                        <span  data-toggle="modal" data-target="#product-modal-waveflip">
                            <i class="tf-ion-ios-search-strong"></i>
                        </span>
                    </li>
                    <li>
                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
              </div>
        </div>
        <div class="product-content">
            <h4><a href="WAVE FLIP.html">WAVE FLIP</a></h4>
            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="product-item">
        <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="images/shop/products/23.png" alt="product-img" />
            <div class="preview-meta">
                <ul>
                    <li>
                        <span  data-toggle="modal" data-target="#product-modal-wynn">
                            <i class="tf-ion-ios-search-strong"></i>
                        </span>
                    </li>
                    <li>
                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                    </li>
                </ul>
              </div>
        </div>
        <div class="product-content">
            <h4><a href="WYNN.html">WYNN</a></h4>
            <p class="price"><del>THB2,200</del> <b>THB1,890</b></p>
        </div>
    </div>
</div>
</div> 




<!-- Modal -->
<div class="modal product-modal fade" id="product-modal-monica">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/19.png" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">MONICA</h2>
                            <p class="price"><b>THB850</b></p>
                            <p class="product-short-description">
                                <p>✦ รองเท้าคัชชูน้ำหนักเบา</p>
                                <p>✦ สายยางยืดปรับความกระชับตามหลังเท้า</p>
                                <p>✦ (ethylene vinyl acetate) ล้างน้ำ ทำความสะอาดได้</p>
                                <p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้</p>
                                <p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
                                <p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
                            </p>
                            <a href="MONICA.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-rina">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/20.png" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">RINA</h2>
                            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
                            <p class="product-description mt-20">
                                <p>✦ รองเท้าคัชชูน้ำหนักเบา</p>
                                <p>✦ สายยางยืดปรับความกระชับตามหลังเท้า</p>
                                <p>✦ (ethylene vinyl acetate) ล้างน้ำ ทำความสะอาดได้</p>
                                <p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้</p>
                                <p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
                                <p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
                            </p>
                            <a href="RINA.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-wabi">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/21.jpg" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">WABI</h2>
                            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
                            <p class="product-short-description">
                                <p>✦ รองเท้าผลิตจากวัสดุหนังแท้</p>
                                <p>✦ พื้นรองรับอุ้งเท้าผลิตจากวัสดุ Phylon</p>
                                <p>✦ ช่วยรองรับแรงกระแทกของน้ำหนักตัวได้ดีมาก</p>
                                <p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
                                <p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
                            </p>
                            <a href="WABI.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-waveflip">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/22.jpg" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">WAVE FLIP</h2>
                            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
                            <p class="product-short-description">
                                <p>✦ รองเท้าผลิตจากวัสดุหนังแท้</p>
                                <p>✦ พื้นรองรับอุ้งเท้าผลิตจากวัสดุ Phylon</p>
                                <p>✦ ช่วยรองรับแรงกระแทกของน้ำหนักตัวได้ดีมาก</p>
                                <p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
                                <p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
                            </p>
                            <a href="WAVE FLIP.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-wynn">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/23.png" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">WYNN</h2>
                            <p class="price"><del>THB2,290</del> <b>THB1,890</b></p>
                            <p class="product-short-description">
                                <p>✦ รองเท้าผลิตจากวัสดุหนังแท้</p>
                                <p>✦ พื้นรองรับอุ้งเท้าผลิตจากวัสดุ Phylon</p>
                                <p>✦ ช่วยรองรับแรงกระแทกของน้ำหนักตัวได้ดีมาก</p>
                                <p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
                                <p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
                            </p>    
                            <a href="WYNN.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div><!-- /.modal -->


<div class="text-center">
    <ul class="pagination post-pagination">
        <li><a href="shop2.html">Prev</a>
        </li>
        <li><a href="shop.html">1</a>
        </li>
        <li><a href="shop2.html">2</a>
        </li>
        <li class="active"><a href="#!">3</a>
        </li>
    </ul>
</div>