<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/15.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-malyn">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="Malyn 1.html">MALYN</a></h4>
			<p class="price"><del>THB3,190</del> <b>THB2,790</b></p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/16.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span data-toggle="modal" data-target="#product-modal-malynII">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="Malyn 2.html">MALYN II</a></h4>
			<p class="price"><del>THB3,390</del> <b>THB2,990</b></p>
		</div>
	</div>
</div>


<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/10.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-kate">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#!" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="KATE 1.html">KATE</a></h4>
			<p class="price"><del>THB1,990</del> <b>THB1,790</b></p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/11.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-katehalf">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="KATE HALF.html">KATE HALF</a></h4>
			<p class="price"><del>THB1,890</del> <b>THB1,690</b></p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/12.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-katewalk">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="KATE WALKSTAR.html">KATE WALKSTAR</a></h4>
			<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/13.jpg" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-lita">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="LITA 1.html">LITA</a></h4>
			<p class="price"><del>THB1,990</del> <b>THB1,790</b></p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/14.jpg" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-litawalk">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="LITA WALKSTAR.html">LITA WALKSTAR</a></h4>
			<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
		</div>
	</div>
</div>


<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/17.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span data-toggle="modal" data-target="#product-modal-mg777">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-content">
			<h4><a href="MG-777.html">MG-777</a></h4>
			<p class="price"><del>THB1,090</del> <b>THB900</b></p>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="product-item">
		<div class="product-thumb">
			<span class="bage">Sale</span>
			<img class="img-responsive" src="images/shop/products/18.png" alt="product-img" />
			<div class="preview-meta">
				<ul>
					<li>
						<span  data-toggle="modal" data-target="#product-modal-mila">
							<i class="tf-ion-ios-search-strong"></i>
						</span>
					</li>
					<li>
						<a href="#" ><i class="tf-ion-ios-heart"></i></a>
					</li>
					<li>
						<a href="#!"><i class="tf-ion-android-cart"></i></a>
					</li>
				</ul>
			</div>
		</div>      
		<div class="product-content">
			<h4><a href="MILA.html">MILA</a></h4>
			<p class="price"><del>THB1,090</del> <b>THB900</b></p>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal product-modal fade" id="product-modal-kate">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/10.png" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">KATE</h2>
						<p class="price"><del>THB1,990</del> <b>THB1,790</b></p>
						<p class="product-short-description">
                        	<p>	✦ UPPER หนัง (NAPPA)แท้นำเข้า</p>
							<p>✦ หนังด้านใน LINING หนังวัวนุ่มสวมใส่สบายเท้า</p>
							<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่ กระชับขึ้น</p>
							<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสวมใส่ได้</p>
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
						</p>
						<a href="KATE 1.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-katehalf">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/11.png" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">KATE HALF</h2>
						<p class="price"><del>THB1,890</del> <b>THB1,690</b></p>
						<p class="product-short-description">
							<p>✦ พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป
							<p>✦ หนัง Synthetic เสริมผ้า Microfiber</p>
							<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่ กระชับขึ้น</p>
							<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสวมใส่ได้</p>
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
						</p>
						<a href="KATE HALF.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-katewalk">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/12.png" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">KATE WALKSTAR</h2>
						<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
						<p class="product-short-description">
							<p>✦ UPPER หนัง (NAPPA) แท้นำเข้า
							<p>✦ หนังด้านใน LINING หนังวัวนุ่ม สวมใส่สบายเท้า
							<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่กระชับขึ้น
							<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น
						</p>
						<a href="KATE WALKSTAR.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-lita">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/13.jpg" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">LITA</h2>
						<p class="price"><del>THB1,990</del> <b>THB1,790</b></p>
						<p class="product-short-description">
							<p>✦ UPPER หนัง (NAPPA) แท้นำเข้า
							<p>✦ หนังด้านใน LINING หนังวัวนุ่ม สวมใส่สบายเท้า
							<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่กระชับขึ้น
							<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น
							<p>✦ ลิขสิทธ์ MAGO
						</p>
						<a href="LITA 1.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-litawalk">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/14.jpg" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">LITA WALKSTAR</h2>
						<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
						<p class="product-short-description">
							<p>✦ UPPER หนัง (NAPPA) แท้นำเข้า
							<p>✦ หนังด้านใน LINING หนังวัวนุ่ม สวมใส่สบายเท้า
							<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่กระชับขึ้น
							<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น
						</p>
						<a href="LITA WALKSTAR.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-malyn">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/15.png" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">MALYN</h2>
						<p class="price"><del>THB3,190</del> <b>THB2,790</b></p>
						<p class="product-short-description">
							<p>✦ รองเท้าวัสดุหนังแท้ ตัดเย็บด้วยมือ
							<p>✦ หนังแท้ คุณภาพสูง ให้ความนุ่ม สวมใส่สบาย
							<p>✦ (EVA.Tech) พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป
							<p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น
						</p>
						<a href="Malyn 1.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-malynII">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/16.png" alt="product-img" />
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="product-short-details">
						<h2 class="product-title">MALYN II</h2>
						<p class="price"><del>THB3,390</del> <b>THB2,990</b></p>
						<p class="product-short-description">
							<p>✦ รองเท้าวัสดุหนังแท้ ตัดเย็บด้วยมือ</p>
							<p>✦ หนังแท้ คุณภาพสูง ให้ความนุ่ม สวมใส่สบาย</p>
							<p>✦ สายยางยืดปรับความกระชับตามหลังเท้า</p>
							<p>✦ พื้น PolyTech กันกระแทก ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
							<p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้</p>
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
						</p>
						<a href="Malyn 2.html" class="btn btn-main">View Product Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->

<div class="modal product-modal fade" id="product-modal-mg777">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<i class="tf-ion-close"></i>
</button>
  <div class="modal-dialog " role="document">
	<div class="modal-content">
		  <div class="modal-body">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<div class="modal-image">
						<img class="img-responsive" src="images/shop/products/17.png" alt="product-img" />
					</div>
				</div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-short-details">
                        <h2 class="product-title">MG-777</h2>
                        <p class="price"><del>THB1,090</del> <b>THB900</b></p>
						<p class="product-short-description">
							<p>✦ พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
							<p>✦ (ethylene vinyl acetate) ล้างน้ำ ทำความสะอาดได้</p>
							<p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้</p>
							<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
							<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
						</p>
                        <a href="MG-777.html" class="btn btn-main">View Product Details</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
  </div>
</div><!-- /.modal -->
<div class="modal product-modal fade" id="product-modal-mila">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
      <div class="modal-dialog " role="document">
        <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" src="images/shop/products/18.png" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">MILA</h2>
                            <p class="price"><del>THB1,090</del> <b>THB900</b></p>
					        <p class="product-short-description">
					        	<p>✦ พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
					        	<p>✦ (ethylene vinyl acetate) ล้างน้ำ ทำความสะอาดได้</p>
					        	<p>✦ รองรับอุ้งเท้าพิเศษ ผู้ที่เป็นโรครองช้ำสามารถสวมใส่ได้</p>
					        	<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
					        	<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
							</p>
                            <a href="MILA.html" class="btn btn-main">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

	<div class= <center>⠀ 		<center>
		<ul class="pagination post-pagination">
			<li><a href="shop.html">Prev</a>
			</li>
			<li><a href="shop.html">1</a>
			</li>
			<li class="active"><a href="#!">2</a>
			</li>
			<li><a href="shop3.html">3</a>
			</li>
			<li><a href="shop3.html">Next</a>
			</li>
		</ul>
	</div>

