
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-ios-heart"></i></a>
								</li>
								
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Bambo.html">BAMBO</a></h4>
						<p class="price"><del>THB990</del> <b>THB850</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/2.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-brook">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Brook.html">BROOK</a></h4>
						<p class="price"><del>THB1,990</del> <b>THB1,490</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/3.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-cantier">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Cantier Grace.html">CANTIER GRACE</a></h4>
						<p class="price"><del>THB1,890</del> <b>THB1,690</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/4.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-Celyn">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Celyn.html">CELYN</a></h4>
						<p class="price"><del>THB3,190</del> <b>THB2,790</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/5.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-curve">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Curve.html">CURVE</a></h4>
						<p class="price"><del>THB1,090</del> <b>THB900</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/6.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-dawn">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="DAWN.html">DAWN</a></h4>
						<p class="price"><del>THB2,290</del> <b>THB1,890</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/7.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-bean">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="De' Bean 1.html">DE' BEAN</a></h4>
						<p class="price"><del>THB2,290</del> <b>THB1,790</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/8.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-beanII">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="De' Bean 2.html">DE' BEAN II</a></h4>
						<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/9.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-glint">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="GLINT.html">GLINT</a></h4>
						<p class="price"><del>THB2,490</del> <b>THB2,290</b></p>
					</div>
				</div>
			</div>

		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/1.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">BAMBO</h2>
			        				<p class="price"><del>THB990</del> <b>THB850</b></p>
			        				<p class="product-short-description">
			        					<p>✦ สามารถปรับสายรัดส้นเท้า</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
			        				</p>
			        				<a href="Bambo.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-brook">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/2.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">BROOK</h2>
			        				<p class="price"><del>THB1,990</del> <b>THB1,490</b></p>
			        				<p class="product-short-description">
			        					<p>✦ หนังสังเคราะห์</p>
										<p>✦ รองรับอุ้งเท้าพิเศษเป็นโรครองช้ำสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
			        				</p>
			        				<a href="Brook.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-cantier">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/3.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">CANTIER GRACE</h2>
			        				<p class="price"><del>THB1,890</del> <b>THB1,690</b></p>
			        				<p class="product-short-description">
			        					<p>✦ หนัง Synthetic เสริมผ้า Microfiber</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
			        				</p>
			        				<a href="Cantier Grace.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-Celyn">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/4.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
									<h2 class="product-title">CELYN</h2>
			        				<p class="price"><del>THB3,190</del> <b>THB2,790</b></p>
									<p class="product-short-description">
										<p>✦ รองเท้าวัสดุหนังกลับแท้ ตัดเย็บด้วยมือ</p>
										<p>✦ หนังกลับแท้ คุณภาพสูงให้ความนุ่มสวมใส่สบาย</p>
										<p>✦ พื้น PolyTech กันกระแทกช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
										<p>✦ รองรับอุ้งเท้าพิเศษเป็นโรครองช้ำสามารถสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
									</p>
			        				<a href="Celyn.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-curve">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/5.jpg" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">CURVE</h2>
			        				<p class="price"><del>THB1,090</del> <b>THB900</b></p>
									<p class="product-short-description">
										<p>✦ พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
									</p>
			        				<a href="Curve.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-dawn">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/6.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">DAWN</h2>
			        				<p class="price"><del>THB2,290</del> <b>THB1,890</b></p>
									<p class="product-short-description">
										<p>✦ รองเท้าผลิตจากวัสดุหนังแท้</p>
										<p>✦ พื้นรองรับอุ้งเท้าผลิตจากวัสดุ Phylon</p>
										<p>✦ ช่วยรองรับแรงกระแทกของน้ำหนักตัวได้ดีมาก</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
									</p>
			        				<a href="DAWN.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-bean">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/7.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">DE' BEAN</h2>
			        				<p class="price"><del>THB2,290</del> <b>THB1,790</b></p>
									<p class="product-short-description">
										<p>✦ หนังแท้นำเข้าจากประเทศอาเจนติน่า</p>
										<p>✦ รองรับอุ้งเท้าพิเศษ เป็นโรครองช้ำสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
									</p>
			        				<a href="De' Bean 1.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-beanII">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/8.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">DE' BEAN II</h2>
			        				<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
			        				<p class="product-short-description">
										<p>✦ หนังแท้นำเข้าจากประเทศอาเจนติน่า</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
			        				</p>
			        				<a href="De' Bean 2.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		<div class="modal product-modal fade" id="product-modal-glint">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/9.png" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GLINT</h2>
			        				<p class="price"><del>THB2,490</del> <b>THB2,290</b></p>
			        				<p class="product-short-description">
			        					<p>✦ หนัง Synthetic เสริมผ้า Microfiber</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
			        				</p>
			        				<a href="GLINT.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		<div class="text-center">
			<ul class="pagination post-pagination">
				<li class="active"><a href="#!">1</a>
				</li>
				<li><a href="shop2.html">2</a>
				</li>
				<li><a href="shop3.html">3</a>
				</li>
				<li><a href="shop2.html">Next</a>
				</li>
			</ul>
		</div>
