<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/5.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-curve">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Curve.html">CURVE</a></h4>
						<p class="price"><del>THB1,090</del> <b>THB900</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-bambo">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#!" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Bambo.html">Bambo</a></h4>
						<p class="price"><del>THB990</del> <b>THB850</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/2.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-brook">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="Brook.html">BROOK</a></h4>
						<p class="price"><del>THB1,990</del> <b>THB1,490</b></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="images/shop/products/12.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal-katewalk">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="KATE WALKSTAR.html">KATE WALKSTAR</a></h4>
						<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal product-modal fade" id="product-modal-curve">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/5.jpg" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">CURVE</h2>
			        				<p class="price"><del>THB1,090</del> <b>THB900</b></p>
									<p class="product-short-description">
										<p>✦ พื้น 2 ชั้น ช่วยรองรับน้ำหนักมากกว่ารองเท้าทั่วไป</p>
										<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้</p>
										<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
										<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
									</p>
			        				<a href="Curve.html" class="btn btn-main">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
			</div>
		</div><!-- /.modal -->
			  <div class="modal product-modal fade" id="product-modal-bambo">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				  <div class="modal-dialog " role="document">
					<div class="modal-content">
						  <div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive" src="images/shop/products/1.png" alt="product-img" />
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">BAMBO</h2>
										<p class="price"><del>THB990</del> <b>THB850</b></p>
										<p class="product-short-description">
											<p>✦ สามารถปรับสายรัดส้นเท้า</p>
											<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสวมใส่ได้</p>
											<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
											<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
										</p>
										<a href="Bambo.html" class="btn btn-main">View Product Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal -->
			<div class="modal product-modal fade" id="product-modal-brook">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				  <div class="modal-dialog " role="document">
					<div class="modal-content">
						  <div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive" src="images/shop/products/2.png" alt="product-img" />
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">BROOK</h2>
										<p class="price"><del>THB1,990</del> <b>THB1,490</b></p>
										<p class="product-short-description">
											<p>✦ หนังสังเคราะห์</p>
											<p>✦ รองรับอุ้งเท้าพิเศษเป็นโรครองช้ำสวมใส่ได้</p>
											<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น</p>
											<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น</p>
										</p>
										<a href="Brook.html" class="btn btn-main">View Product Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal -->
				  
				  <div class="modal product-modal fade" id="product-modal-katewalk">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="tf-ion-close"></i>
					</button>
					  <div class="modal-dialog " role="document">
						<div class="modal-content">
							  <div class="modal-body">
								<div class="row">
									<div class="col-md-8 col-sm-6 col-xs-12">
										<div class="modal-image">
											<img class="img-responsive" src="images/shop/products/12.png" alt="product-img" />
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12">
										<div class="product-short-details">
											<h2 class="product-title">KATE WALKSTAR</h2>
											<p class="price"><del>THB2,190</del> <b>THB1,990</b></p>
											<p class="product-short-description">
												<p>✦ UPPER หนัง (NAPPA) แท้นำเข้า
												<p>✦ หนังด้านใน LINING หนังวัวนุ่ม สวมใส่สบายเท้า
												<p>✦ เข็มขัดปรับระดับหน้าเท้า ช่วยให้สวมใส่กระชับขึ้น
												<p>✦ รองรับอุ้งเท้าคนเป็นโรครองช้ำสามารถสวมใส่ได้
												<p>✦ พื้นล่างของรองเท้าเสริมยางกันลื่น
												<p>✦ หน้าสูงหลังต่ำช่วยยืดเส้น
											</p>
											<a href="KATE WALKSTAR.html" class="btn btn-main">View Product Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.modal -->
			
</div>